@import url(bootstrap/bootstrap.less);
@import url(../bower_components/nprogress/nprogress.css);

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(font/OpenSansLight.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(font/OpenSans.woff) format('woff');
}


body {
  overflow-x: hidden;
}

h1, h2 {
  color: @brand-warning;
}

label {
  font-weight: normal;
}


#main-container {
  position: absolute;
  top: 51px;
  right: 50%;
  left: 0px;
  bottom: 4px;
}

.simu-drawing {
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  border-right: 1px solid #EEE;
}


div.leaflet-control-layers-toggle {
  display: none;
}

#nprogress .spinner {
  z-index: 9999;
  top: 60px;
}

#nprogress .bar {
  z-index: 9999;
  //top: 51px;
}

