<div class="">
  <div file-input="file" on-change="readFile()"></div>
  <!--<table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>url</th>
        <th>timezone</th>
        <th>lang</th>
        <th>phone</th>
        <th>url</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="a in data.agency">
        <td>{{a.agency_id}}</td>
        <td>{{a.agency_name}}</td>
        <td>{{a.agency_url}}</td>
        <td>{{a.agency_timezone}}</td>
        <td>{{a.agency_phone}}</td>
        <td>{{a.agency_url}}</td>
      </tr>
    </tbody>
  </table>-->
</div>